@import './src/assets/css/base.css';
@import './src/assets/css/responsiveness.css';

#app {
  height: 100vh;

  & .nav-btn {
    padding: 7px 8px;
    padding-bottom: 6px;
  }

  & .icon {
    font-size: 25px;
    font-weight: 600;
  }

  & header {
    padding: 15px 0;

    & * {
      color: var(--blueish);
    }

    & .app-logo {
      gap: 5px;

      & img {
        max-width: 100%;
      }

      & h1 {
        font-size: x-large;
      }
    }

    & ul {
      gap: 20px;
    }
  }

  & main {
    flex: 1;
    overflow-y: auto;

    & #crumb-nav {
      gap: 2px;
      padding: 0 5px;

      & > div {
        gap: 2px;

        & .icon {
          font-size: large;
        }

        & span {
          padding-bottom: 1px;
        }
      }

      & > .icon {
        padding-top: 1px;
      }

      & [data-target] {
        color: var(--darkish);
        font-size: 14px;
        transition-property: font-size, padding;
        transition-duration: 100ms;
        transition-delay: 0s;
        transition-timing-function: ease-in-out;

        &:focus,
        &.active {
          color: var(--blueish);
          font-size: medium;
        }
      }


    }

    & #app-body {
      flex: 1;
      overflow: hidden;

      & .screen,
      & .nav-screen {
        display: none;
        transform: scale(0);

        &.current-screen,
        &.current-nav-screen {
          flex: 1;
          display: initial;
          transform: scale(1);
        }
      }

      & #content-nav {

        & #countries,
        & #cities {
          &>div {
            height: 100%;
            margin: 0 10px;
            overflow: hidden;

            & .search-box {
              position: relative;
              margin: 40px 0;

              & input {
                flex: 1;
                font-size: large;
                border: 2px solid #a060e0;
                padding: 14px 15px;
                border-radius: 12px;
                background: white;

                &::placeholder {
                  opacity: 0.6;
                }

                &:focus {
                  outline: none;
                  border-color: var(--blueish);
                }
              }

              & .icon {
                position: absolute;
                right: 3px;
                text-align: center;
                height: calc(100% - 6px);
                border-radius: 12px;
                padding: 10px 11px;
                color: white;
                background-color: var(--blueish);
              }
            }

            & .countries-container,
            & .cities-container {
              overflow-y: auto;
              margin-bottom: 10px;

              & .countries-list,
              & .cities-list {
                gap: 10px;

                & .country-item,
                & .city-item {
                  text-align: left;
                  font-size: large;
                  opacity: 0.75;
                  transition-property: font-size, padding;
                  transition-duration: 200ms;
                  transition-delay: 0s;
                  transition-timing-function: ease-in-out;

                  &:focus,
                  &.active {
                    font-size: x-large;
                    padding: 5px 0;
                    padding-left: 15px;
                    color: var(--blueish);
                  }
                }
              }
            }
          }
        }
      }

      & #home {
        & .home-head {
          & h3 {
            font-size: xx-large;
            margin-top: 20px;
          }

          & span {
            display: block;
            font-style: italic;
            margin: 5px;
            margin-bottom: 40px;
          }
        }

        & .home-content {
          padding: 0 5px;

          &>div {
            gap: 15px;
          }

          & .stat-brick {
            padding: 25px 15px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 1px 2px 6px 2px rgba(0, 0, 255, 0.1);

            & h5 {
              font-size: medium;
              font-weight: 700;
            }

            & span {
              display: block;
              margin-top: 10px;
              font-size: x-large;
              color: var(--blueish);
            }
          }

          & #temperature {
            color: var(--blueish);

            & span {
              font-weight: 600;
              font-size: 48px;
            }

            & h5 {
              font-size: medium;
              margin-bottom: 10px;
            }
          }

          & #localtime {
            & span {
              font-size: initial;
            }
          }
        }
      }
    }
  }

  & footer {
    padding: 10px 0;

    & nav {
      gap: 50px;

      & .nav-btn {
        border-radius: 50%;
        padding: 11px 12px;
        padding-bottom: 10px;
        color: var(--blueish);

        &:focus {
          border-radius: 50%;
        }

        &.active {
          background-color: white;
          box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
