* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
}

a, .button {
  cursor: pointer;
}

body img#cover {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.squeeze {
  margin: 0 17%;
}

.headbar-menu {
  padding: 20px;
  border-radius: 0 0 20px 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  background-color: rgba(107, 240, 233, .1); */
}

img#app-logo {
  height: 70px;
  width: 70px;
}

#app-log, #app-name {
  display: inline;
  float: right;
}

#app-name {
  padding: 15px 5px;
  font-size: 35px;
  font-weight: bolder;
  color: whitesmoke;
}

.search-box {
  overflow: hidden;
  padding: 21px 0;
  margin-left: 200px;
}

.search-box input, .search-box .button {
  height: 30px;
  float: left;
  border: 1px solid gray;
  box-shadow: 0 0 3px gray;
}

.search-box #key-field {
  width: 210px;
  padding: 0 10px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.search-box #search {
  width: 40px;
  padding: 4.5px 9.5px;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid gray;
  background-color: ivory;
}

.search-box #search img {
  width: 21px;
  height: 21px;
}

.data-board {
  padding: 0 60px;
  padding-top: 20px;
  background-color: rgba(135, 207, 235, .1);
  border-radius: 50px;
  box-shadow: 0 0 5px grey;
}

.data-header li {
  height: 30px;
}

li#city-detail {
  font-size: 21px;
  padding: 5px 0;
  font-style: oblique;
  font-weight: bold;
  color: bisque;
}

li.city-info-option {
  float: right;
  padding: 7px;
  margin: 1px 10px;
  width: 30px;
  border-radius: 50%;
  background-color: skyblue;
  box-shadow: 0 0 3px black;
}

.city-info-option img {
  width: 16px;
  height: 16px;
}

.weather-details {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 200px auto;
}

.current-city-temp img {
  width: 200px;
  height: 200px;
}

.c-w-s-det {
  padding: 0 10px;
  display: block;
  font-size: 23px;
  font-weight: bolder;
  padding-bottom: 30px;
  color: rgb(4, 35, 102);
}

.day-details span, .ot-day-details span {
  font-size: 12.5px;
  color: rgb(4, 35, 102);
}

.day-details span:first-child,
.ot-day-details span:first-child {
  font-weight: bolder;
}

.day-details > div {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto;
}

.day-details.current-day {
  padding: 5px 20px;
  padding-right: 0;
}

.w-aspect-detail {
  padding: 2px 10px;
}

label.w-aspect-detail {
  display: block;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(20.4, 10.2, 76.5);
}

.other-days {
  padding: 0 25px;
  padding-top: 30px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: max-content max-content max-content max-content ;
}

.ot-day-details {
  display: grid;
  padding: 5px 8px;
  grid-template-columns: auto 30px;
  border-radius: 10px;
  column-gap: 10px;
  box-shadow: 0 0 4px slateblue;
  background-color: rgb(74, 184, 228);
}

.ot-day-details img {
  width: 30px;
  height: 30px;
}

.ot-day-details .w-aspect-detail {
  padding: 2px 0;
}
